<div id="menu"> 
		<ul>     
			<li><a href="index.php?controller=index">Main</a></li>
			<li><a class="current" href="index.php?controller=books">Books</a></li>
			<li><a href="index.php?controller=dvd">Movies</a></li>
			<?php
			 
				if( $loggedIn && !$admin )
				{
					echo '<li><a href="index.php?controller=login&action=login">My Account</a></li>';
				}
				elseif( !$loggedIn)
				{
					echo '<li><a href="index.php?controller=login">Login</a></li>';
				}
				
				if( $admin )
				{
					echo '<li><a href="index.php?controller=admin">Admin</a></li>';
				}
				?>
		</ul>
	</div>
	
	<div id="feature">	
		<div class="left">		
			<h2 class="cart" id="viewCart">Cart</h2>
			<?php
	
			if ( empty( $qty ) ) 
			{
				echo "<p>Your Shopping Cart is empty!</p>";
			}
			else
			{
				if( $qty == 1 )
				{
					echo '<p>Your have <a href="#" id="cartLink">'.$qty.' product</a> in your Shopping Cart!</p>';
				}
				else
				{
					echo '<p>Your have <a href="#" id="cartLink">'.$qty.' products</a> in your Shopping Cart!</p>';
				}
			}
			?>
		<div id="cartSlider">	
			<h1 class="cart_header">Your Shopping Cart:</h1>
			
			<ul class="cartUl"><?php 
					$total = 0;
					foreach( $CartProducts as $CartProduct ) { 
					$total += ( $CartProduct->quantity * $CartProduct->product_price ) +
							  ( $CartProduct->quantity * 2.95 );
			?>
				
				<li><a href="index.php?controller=index&action=removeCartItem&item_id=<?php echo $CartProduct->item_id; ?>"><img src="<?php echo $path.'/css/images/bin_closed.png'; ?>"></a>&nbsp;&nbsp;<a href="index.php?controller=books&action=showProduct&pid=<?php echo $CartProduct->product_id; ?>" id="cSlider"><?php echo $CartProduct->product_name; ?></a>
				&nbsp;<strong><?php echo $CartProduct->quantity. ($CartProduct->quantity == 1 ? ' Item ' : ' Items '); ?></strong>à&nbsp;€&nbsp;
				<?php echo $CartProduct->product_price; ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Subtotal:</strong>&nbsp;
				<font color="#FF0000"><strong>€&nbsp;<?php echo $CartProduct->product_price * $CartProduct->quantity; ?></strong></font></li>
				
				<?php
				}
				?>
				<li>&nbsp;</li>
				<li><strong>Total Sum: € <font color="#FF0000"><?php echo $total; ?></strong></font></li>
			</ul>
			 <a class="checkout" id="checkout" href="<?php echo $path; ?>/index.php?controller=login&action=index&checkout=checkout">Proceed to Checkout</a>
			<a class="close" id="close" href="#">Close</a>
		</div>	
	</div>
<div class="clear">&nbsp;</div>
</div>


<div id="main">
   <h3><strong>IT-Books:</strong></h3>
   
	<div class="wrapper-book">
		<ul class="gallery">
		  <table width="100%" align="center">
		   <tbody>
			<?php
			   $rowCnt = 0; 
			   echo '<tr height="235">';	
			   foreach ( $Products as $Product ) { 
			   $rowCnt++;
				$coverSrc = $path."/images/products_images/" . $Product['product_id'] . "R.jpg";
				echo '<td>';
				?>	
				<li><a href="<?php echo $path; ?>/index.php?controller=books&action=showproduct&pid=<?php echo $Product['product_id']; ?>"><img src="<?php echo $coverSrc; ?>" alt="<?php echo $Product['product_name']; ?>" height="225" width="150" /></a>
				<span><strong><?php echo $Product['product_name'] ?></strong><br /><strong>Price:</strong>&nbsp;<?php echo $Product['product_price']; ?>&nbsp;&euro;<br /><br /><a class="dvd" href="<?php echo $path; ?>/index.php?controller=books&action=showproduct&pid=<?php echo $Product['product_id']; ?>"><strong class="click">CLICK FOR MORE DETAILS!</strong></a></span></li>
			<?php 
				echo '<div style="padding-top:0;padding-bottom:10px; text-align:justify;"><a class="cart-dvd" href="index.php?controller=cart&action=addcart&pid='.htmlspecialchars( $Product['product_id'] ).'">Add to cart</a></div></td>';
				if($rowCnt % 5 == 0 && $rowCnt != 10) echo '</tr><tr height="235">';
				elseif($rowCnt == 10) echo '</tr>';
			}
				
			?>
			</tbody>
			</table>
		</ul>

	<table>
	<tr width="60%">
	<td> 	
	
        <?php 
        $last = $totalRows / $PAGE_SIZE;
			if($totalRows % $PAGE_SIZE) { $last += 1; }
			$str = '&nbsp;&nbsp;( '.$first.' of '.(int)$last.' ) '; 
        if ( $start > 0 ) 
        { 
           echo '<td><a class="prev_entry" href="'.$path.'/index.php?controller=Books&action=index&start='.max( $start - $PAGE_SIZE, 0 ).'&first='.max( $first - 1, 1 ).'">Previous page</a><td>';
        } 
        echo '&nbsp;';
      if ( $start + $PAGE_SIZE < $totalRows ) 
      { 
        echo '<td><a class="next_entry" href="'.$path.'/index.php?controller=Books&action=index&start='.min( $start + $PAGE_SIZE, $totalRows ).'&first='.min( $first + 1, ($totalRows / $PAGE_SIZE) + 1 ).'">Next Page'.$str.'</a></td>';
      } 
			
        echo '</tr></table>';
        ?>
        
	</div>   
   
   
   <div class="clear">&nbsp;</div>
</div>
