<div id="menu"> 
		<ul>     
			<li><a class="current" href="index.php?controller=index">Main</a></li>
			<li><a href="index.php?controller=books&flag=begin">Books</a></li>
			<li><a href="index.php?controller=dvd&flag=begin">Movies</a></li>
			<?php
			 
				if( $loggedIn && !$admin )
				{
					echo '<li><a href="index.php?controller=login&action=login">My Account</a></li>';
				}
				elseif( !$loggedIn)
				{
					echo '<li><a href="index.php?controller=login">Login</a></li>';
				}
				
				if( $admin )
				{
					echo '<li><a href="index.php?controller=admin">Admin</a></li>';
				}
				?>
		</ul>
	</div>
	
	<div id="feature">	
		<div class="left">		
		
			<h2 class="cart" id="viewCart">Cart</h2>
			<?php
	
			if ( empty( $qty ) ) 
			{
				echo "<p>Your Shopping Cart is empty!</p>";
			}
			else
			{
				if( $qty == 1 )
				{
					echo '<p>You have <a href="#" id="cartLink">'.$qty.' product</a> in your Shopping Cart!</p>';
				}
				else
				{
					echo '<p>You have <a href="#" id="cartLink">'.$qty.' products</a> in your Shopping Cart!</p>';
				}
			}
			?>

			<!--div class="arrow-up2"></div-->
		<div id="cartSlider">	
				
			<!--h2 style="font-size:120%;font-weight:bold;color:#3f4c6b;clear:both;border-bottom: 1px solid #999;margin: 0 auto 1em auto;padding: 0 0 1em 30px;">Your Shopping Cart:</h2-->
			<h1 class="cart_header">Your Shopping Cart:</h1>
			<ul class="cartUl"><?php 
					$total = 0;
					foreach( $CartProducts as $CartProduct ) { 
					$total += ( $CartProduct->quantity * $CartProduct->product_price ) +
							  ( $CartProduct->quantity * 2.95 );
                                                          
                                        if($CartProduct->ptype_id == 1) $request = $path."/index.php?controller=books&action=showProduct&pid=$CartProduct->product_id";
			                elseif($CartProduct->ptype_id == 2) $request = $path."/index.php?controller=dvd&action=showDvd&pid=$CartProduct->product_id";
	                              ?>
                                      
				<li><a href="index.php?controller=index&action=removeCartItem&item_id=<?php echo $CartProduct->item_id; ?>"><img src="<?php echo $path.'/css/images/bin_closed.png'; ?>"></a>&nbsp;&nbsp;<a href="<?php echo $request; ?>" id="cSlider"><?php echo $CartProduct->product_name; ?></a>
				&nbsp;<strong><?php echo $CartProduct->quantity. ($CartProduct->quantity == 1 ? ' Item ' : ' Items '); ?></strong>à&nbsp;€&nbsp;
				<?php echo $CartProduct->product_price; ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Subtotal:</strong>&nbsp;
				<font color="#FF0000"><strong>€&nbsp;<?php echo $CartProduct->product_price * $CartProduct->quantity; ?></strong></font></li>
				
				<?php
				}
				?>
				<li>&nbsp;</li>
				<li><strong>Total Sum: € <font color="#FF0000"><?php echo $total; ?></strong></font></li>
			</ul>
			<a class="checkout" id="checkout" href="<?php echo $path; ?>/index.php?controller=login&action=index&checkout=checkout">Proceed to Checkout</a>
			<a class="close" id="close" href="#">Close</a>
		  </div>
	</div>
	
	<div class="right">
			<h2>NOTICE!</h2>
			<p>Log in as <u class="click">saruman</u> with the password: <u class="click">return0</u>, to experiment with the user CMS!</p>	
		</div>	
	  
<div class="clear">&nbsp;</div>

</div>

<div id="main">	
     
   <table width="100%" border="0" align="center">
   <tbody>
    <tr>
    <td>
    <h3><strong>Last Upload eBooks:</strong></h3><br />
     <table width="100%" align="center">
      <tbody>
      <?php
      	$rowCount = 0;
      	echo '<tr height="150">';
      	foreach ( $Products as $Product ) 
      	{ 
      	 $rowCount++;
		 $coverSrc = $path."/images/products_images/" . $Product->product_id . "R.jpg";
		 $description = implode(' ', array_slice(explode(' ', $Product->product_description), 0, 40));
		 $description .= '...'; 
		 
		 echo '<td width="120">';
		 echo '<a title="Price: '.$Product->product_price.' €" href="'.$path.'/index.php?controller=books&action=showproduct&pid='.$Product->product_id.'&flag=begin">';
		 echo '<img class="border" width="100" alt="Price: '.$Product->product_price.' €" src="'.$coverSrc.'"></a></td>';
		 echo '<td width="370" style="border-bottom:1px dashed green;">';
		 echo '<a title="Price: '.$Product->product_price.' €" href="'.$path.'/index.php?controller=books&action=showproduct&pid='.$Product->product_id.'&flag=begin">'.$Product->product_name.'</a>';
		 echo '<div style="padding-top:10px; text-align:justify;">'.htmlentities($description).'</div>';
		 echo '<div style="padding-top:10px;padding-bottom:10px; text-align:justify;"><a class="cart-dvd" href="index.php?controller=cart&action=addcart&pid='.htmlspecialchars( $Product->product_id ).'&front=front">Add to cart</a></div></td>';
		 echo '<td width="20"> </td>';
		 if($rowCount % 2 == 0 && $rowCount != 4) echo '</tr><tr height="150">';
		 elseif($rowCount % 2 == 0 && $rowCount == 4) echo '</tr>'; 
		}
		echo '</tr>';
      ?>
      </tbody>
     </table>
    </td>
    </tr>
   </tbody>
   </table>
   <br />
   <br />
 <h3><strong>Last Upload Dvd's:</strong></h3><br />
 <table width="100%" align="center">
      <tbody>
      <?php 
      
      	$rowCnt = 0;
      	echo '<tr height="150">';
      	foreach ( $Dvds as $Dvd ) 
      	{ 
      	 $rowCnt++;
		 $cvrSrc = $path."/images/products_images/" . $Dvd->product_id . "R.jpg";
		 $descp = implode(' ', array_slice(explode(' ', $Dvd->product_description), 0, 40));
		 $descp .= '...'; 
		 
		 echo '<td width="120">';
		 echo '<a title="Price: '.$Dvd->product_price.' €" href="'.$path.'/index.php?controller=dvd&action=showDvd&pid='.$Dvd->product_id.'&flag=begin">';
		 echo '<img class="border" width="100" alt="Price: '.$Dvd->product_price.' €" src="'.$cvrSrc.'"></a></td>';
		 echo '<td width="370" style="border-bottom:1px dashed green;">';
		 echo '<a title="Price: '.$Dvd->product_price.' €" href="'.$path.'/index.php?controller=dvd&action=showDvd&pid='.$Dvd->product_id.'&flag=begin">'.$Dvd->product_name.'</a>';
		 echo '<div style="padding-top:10px; text-align:justify;">'.$descp.'</div>';
		 echo '<div style="padding-top:10px;padding-bottom:10px; text-align:justify;"><a class="cart-dvd" href="index.php?controller=cart&action=addcart&pid='.htmlspecialchars( $Dvd->product_id ).'&front=front">Add to cart</a></div></td>';
		 echo '<td width="20"> </td>';
		 if($rowCnt % 2 == 0 && $rowCnt != 4) echo '</tr><tr height="150">';
		 elseif($rowCnt % 2 == 0 && $rowCnt == 4) echo '</tr>'; 
		}
		echo '</tr>';
      ?>
      </tbody>
     </table>
    </td>
    </tr>
   </tbody>
   </table>
 
		
 <p>&nbsp;</p>
 <div class="clear">&nbsp;</div>
</div>
