<div id="menu"> 
		<ul>     
			<li><a href="index.php?controller=index">Main</a></li>
			<li><a href="index.php?controller=books&flag=begin">Books</a></li>
			<li><a href="index.php?controller=dvd&flag=begin">Movies</a></li>
			<?php
			 
				if( $loggedIn && !$admin )
				{
					echo '<li><a class="current" href="index.php?controller=login&action=login">My Account</a></li>';
				}
				elseif( !$loggedIn)
				{
					echo '<li><a class="current" href="index.php?controller=login">Login</a></li>';
				}
				
				if( $admin )
				{
					echo '<li><a class="current" href="index.php?controller=admin">Admin</a></li>';
				}
				?>
		</ul>
	</div>
	
	<div id="feature">	
	
	
		<div class="left">		
			<h2 class="cart">Cart</h2>
			
			<?php
	
			if ( empty( $qty ) ) 
			{
				echo "<div><p>Your Shopping Cart is empty!</p>";
			}
			else
			{
				if( $qty == 1 )
				{
					echo '<div class="link"><p>You have <a href="#" id="cartLink">'.$qty.' product</a> in your Shopping Cart!</p>';
				}
				else
				{
					echo '<div class="link"><p>You have <a href="#" id="cartLink">'.$qty.' products</a> in your Shopping Cart!</p>';
				}
			}
			?>
			
		<div id="cartSlider">	
			<h1 class="cart_header">Your Shopping Cart:</h1>
			
			<ul class="cartUl"><?php 
					$total = 0;
					foreach( $CartProducts as $CartProduct ) { 
					$total += ( $CartProduct->quantity * $CartProduct->product_price ) +
							  ( $CartProduct->quantity * 2.95 );
			if($CartProduct->ptype_id == 1) $request = $path."/index.php?controller=books&action=showProduct&pid=$CartProduct->product_id";
			                elseif($CartProduct->ptype_id == 2) $request = $path."/index.php?controller=dvd&action=showDvd&pid=$CartProduct->product_id";
	                              ?>
				
				<li><a href="index.php?controller=index&action=removeCartItem&item_id=<?php echo $CartProduct->item_id; ?>"><img src="<?php echo $path.'/css/images/bin_closed.png'; ?>"></a>&nbsp;&nbsp;<a href="<?php echo $request; ?>" id="cSlider"><?php echo $CartProduct->product_name; ?></a>
				&nbsp;<strong><?php echo $CartProduct->quantity. ($CartProduct->quantity == 1 ? ' Item ' : ' Items '); ?></strong>à&nbsp;€&nbsp;
				<?php echo $CartProduct->product_price; ?>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>Subtotal:</strong>&nbsp;
				<font color="#FF0000"><strong>€&nbsp;<?php echo $CartProduct->product_price * $CartProduct->quantity; ?></strong></font></li>
				
				<?php
				}
				?>
				<li>&nbsp;</li>
				<li><strong>Total Sum: € <font color="#FF0000"><?php echo $total; ?></strong></font></li>
			</ul>
				<a class="checkout" id="checkout" href="<?php echo $path; ?>/index.php?controller=login&action=index&checkout=checkout">Proceed to Checkout</a>
			<a class="close" id="close" href="#">Close</a>
		</div>	
		</div>
	</div>
	
	
	<div class="clear">&nbsp;</div>
</div>



<div id="main">
	<div id="sidebar">
			<div class="sidebarbox">
               <h2>My Account Menu</h2>
				<ul class="sidemenu">
					<li><a href="<?php echo $path ?>/index.php?controller=login&action=proceed">View Open Orders</a></li>
					<li><a href="<?php echo $path ?>/index.php?controller=login&action=viewUser">Change Account Settings</a></li>
					<li><a href="<?php echo $path ?>/index.php?controller=login&action=login&logout=logout">Logout</a></li>	
				</ul>
			</div>
	  </div> 		   
	
	
<?php 

	echo '<h4 class="my-account">My Account Menu-></h4><br />';
	
	if($user['last_log'])
	 {	
		echo '<h4>'.$msg.' '.$user['firstname'].'!</h4><br />'; 
		echo 'Last login: '.$user['last_log'].'<br /><br />';
	 }
	 else
	 {
	 	echo '<p><h4> Welcome for the first time '.$user['firstname'].'!</h4>';
	 }	
		if( $checkout && !$address )
		{
	  	echo '<h3 class="alert">Add a shipping address please!</h3><br />';
	  ?>
	  		
				<form action="index.php?controller=login&action=proceed&save=save" method="post" class="style-form">
				<div>
				<label for="address_line_1">Address Line1:</label>
				<input type="text" name="address_line_1" id="address_line_1" placeholder="Street address, P.O. box, company name, c/o" required="required" />
				<input type="hidden" name="login" id="login" value="<?php echo $login; ?>">
				</div>
				<div>
				<label for="address_line_2">Address Line2:</label>
				<input type="text" name="address_line_2" id="address_line_2" placeholder="Apartment, suite, unit, building, floor, etc." required="required" />
				</div>
				<div>
				<label for="city">City:</label>
				<input type="text" name="city" id="city" required="required" />
				</div>
				<div>
				<label for="county">State/Province/Region:</label>
				<input type="text" name="county" id="county" required="required" />
				</div>	
				<div><label for="country">Country:</label>
						<select name="country" id="country" size="1"> 
				<?php   
			  	 foreach ( $countries as $country ) { ?>
							<option value="<?php echo $country['name']; ?>" <?php if($country['name'] == 'FINLAND') echo ' selected'; ?>><?php echo $country['printable_name']; ?></option>	
				<?php } ?>	
						</select>
				</div>		
				<div class="submit"><input type="submit" value="Submit"></div>
				</form> 
				&nbsp;&nbsp;
				
<?php	  
	  	echo '<div style="float:left;width:50%;"><h4>Address Accuracy</h4>
						<p>Make sure you get your stuff! If the address is not entered correctly, your package may be returned 
						as undeliverable. You would then have to place a new order. Save time and avoid frustration by 
						entering the address information in the appropriate boxes and double-checking 
						for typos and other errors.</p></div>';
		}
		elseif( $checkout && $address )
		{
			header('Location:index.php?controller=login&action=proceed');
		}
?>

	

	
<div class="clear">&nbsp;</div>
  
</div>
