<div id="menu"> 
		<ul>     
			<li><a href="<?php echo $path ?>/index.php?controller=index">Main</a></li>
			<li><a href="<?php echo $path ?>/index.php?controller=books&flag=begin">Books</a></li>
			<li><a href="<?php echo $path ?>/index.php?controller=dvd&flag=begin">Movies</a></li>
			<?php
			 
				if( $loggedIn && !$admin )
				{
					echo '<li><a class="current" href="'.$path.'/index.php?controller=login&action=login">My Account</a></li>';
				}
				elseif( !$loggedIn)
				{
					echo '<li><a class="current" href="'.$path.'/index.php?controller=login">Login</a></li>';
				}
				
				if( $admin )
				{
					echo '<li><a class="current" href="'.$path.'/index.php?controller=admin">Admin</a></li>';
				}
				?>
		</ul>
	</div>
	
	<div id="feature">
		<div class="left">			
			<h2>Welcome to the Admin CMS area!</h2>
			<!--p>In here you can manage users !</p-->
		</div>
			<div class="clear">&nbsp;</div>
	</div>
<div id="main">
   <div id="sidebar">
			<div class="sidebarbox">
               <h2>Admin menu</h2>
				<ul class="sidemenu">
					<li><a href="<?php echo $path ?>/index.php?controller=admin&action=manage_users">Manage users</a></li>
					<li><a href="<?php echo $path ?>/index.php?controller=admin&action=ptypes">Manage product types</a></li>
					<li><a href="<?php echo $path ?>/index.php?controller=admin&action=addproduct">Manage products</a>
						<ul>
							<li><a href="<?php echo $path ?>/index.php?controller=admin&action=addproduct">Add Product</a></li>
							<li><a href="<?php echo $path ?>/index.php?controller=admin&action=viewProducts">Update or Remove</a></li>
						</ul></li>
					<li><a href="#">Manage orders</a></li>	
					<li><a href="<?php echo $path ?>/index.php?controller=admin&action=viewLog">View Access Log</a></li>
					<li><a href="<?php echo $path ?>/index.php?controller=login&action=login&logout=logout">Logout</a></li>	
				</ul>
			</div>
	    </div> 		   
	<div id="content">
   <h4 class="admin-sign">Admin Menu>>Manage Products>>Add Product-></h4>
   <br />
   <br />
   
   <!--div class="addproduct-form"-->
   	
		<form action="<?php echo $path ?>/index.php?controller=admin&action=saveproduct" method="post" enctype="multipart/form-data" class="style-form">
			<div><label for="title">Title</label>
			<input type="text" name="title" id="title" required="required" /></div>
			
			<div><label for="price">Price</label>
			<input type="text" name="price" id="price" required="required"/></div>
			
			<div><label for="language">Language</label>
			<input type="text" name="language" id="language" required="required"/></div>
			
			<div><label for="ptype_id">Product type</label>
			<select name="ptype_id" id="ptype_id" size="1"> 
			<?php   
			   foreach ( $MPTypes as $productType ) { ?>
				<option value="<?php echo $productType->ptype_id; ?>"><?php echo $productType->type_name; ?></option>	
			<?php } ?>	
			</select>
			</div>
			
			<div><label for="descriptio">Description</label>
			<textarea name="description" id="description" rows="10" cols="30"></textarea></div>
			
			<div><label for="cover">Cover</label>
			<input type="hidden" name="MAX_FILE_SIZE" value="60000" />
			<input type="file" name="cover" id="cover" required="required"/></div>
			
			<div><label for="author">Author</label>
			<input type="text" name="author" id="author" required="required"/></div>
			
			<div><label for="isbn10">ISBN-10</label>
			<input type="text" name="isbn10" id="isbn10" required="required"/></div>
			
			<div class="submit"><input type="submit" name="contact-submit" id="contact-submit" value="Submit" /></div>
		</form>
		
	   
		<!--/div-->
	</div>
	
	<div class="clear">&nbsp;</div>
   </div>
