<div id="menu"> 
		<ul>     
			<li><a href="<?php echo $path ?>/index.php?controller=index">Main</a></li>
			<li><a href="<?php echo $path ?>/index.php?controller=books&flag=begin">Books</a></li>
			<li><a href="<?php echo $path ?>/index.php?controller=dvd&flag=begin">Movies</a></li>
			<?php
			 
				if( $loggedIn && !$admin )
				{
					echo '<li><a class="current" href="'.$path.'/index.php?controller=login&action=login">My Account</a></li>';
				}
				elseif( !$loggedIn)
				{
					echo '<li><a class="current" href="'.$path.'/index.php?controller=login">Login</a></li>';
				}
				
				if( $admin )
				{
					echo '<li><a class="current" href="'.$path.'/index.php?controller=admin">Admin</a></li>';
				}
				?>
		</ul>
	</div>
	
	<div id="feature">
		<div class="left">			
			<h2>Welcome to the Admin CMS area!</h2>
			<!--p>In here you can manage users !</p-->
		</div>
		
			<div class="clear">&nbsp;</div>
	</div>
<div id="main">
   <div id="sidebar">
			<div class="sidebarbox">
               <h2>Admin Menu</h2>
				<ul class="sidemenu">
					<li><a href="<?php echo $path ?>/index.php?controller=admin&action=manage_users">Manage Users</a></li>
					<li><a href="<?php echo $path ?>/index.php?controller=admin&action=ptypes">Manage Product Types</a></li>
					<li><a href="<?php echo $path ?>/index.php?controller=admin&action=addproduct">Manage Products</a>
						<ul>
							<li><a href="<?php echo $path ?>/index.php?controller=admin&action=addproduct">Add Product</a></li>
							<li><a href="<?php echo $path ?>/index.php?controller=admin&action=viewProducts">Update or Remove</a></li>
						</ul></li>
					<li><a href="#">Manage Orders</a></li>	
					<li><a href="<?php echo $path ?>/index.php?controller=admin&action=viewLog">View Access Log</a></li>
					<li><a href="<?php echo $path ?>/index.php?controller=login&action=login&logout=logout">Logout</a></li>	
				</ul>
			</div>
	    </div> 		   
	<div id="content">
  
  <?php 
 
 
	echo '<h4 class="admin-sign">Admin Menu>>Manage Users-></h4><br />'; 

if(!$user_data)
 {
	
	?>
	
  	<table cellspacing="0" style="width: 95%">
      <tr>
        <th align="left">Username</th>
        <th align="left">Last Activity</th>
        <th align="left">Currently Logged In</th>
      </tr>
      
      <?php
$rowCount = 0;


  foreach ($users_data as $user_data) {
  $rowCount++;
?>
      <tr <?php if ( $rowCount % 2 == 0 ) echo ' class="alt"' ?>>
        <td><a href="<?php echo $path; ?>/index.php?controller=admin&action=manage_users&login=<?php echo $user_data['login']; ?>"><?php echo $user_data['login']; ?></a></td>
        <td><?php echo $user_data['last_log']; ?></td>
        <td><?php echo $user_data['flag_logged'] ? '<h4 class="click">Yes</h4>':'<h4>No</h4>'; ?></td>
      </tr>
<?php
	}
}
elseif($user_data)
{
	//var_dump($user_data);
	//echo '--------------------------------------------------------------------<br />';
	//var_dump($_SESSION);
	echo '<h4 class="user-data">Display user info</h4><br />';
	echo '<form action="'.$path.'/index.php?controller=login&action=viewUser" method="post" class="style-form">';
	
	echo '<div><label for="username">Username:</label>';
	echo '<input type="text" name="username" value="'.$user_data['login'].'"/></div>';
			
	echo '<input type="hidden" value="'.$user_data['user_id'].'" name="user_id" />';
		
	echo '<div><label for="firstname">Firstname:</label>';
	echo '<input type="text" value="'.$user_data['firstname'].'" name="firstname"/></div>';
			
	echo '<div><label for="lastname">Lastname:</label>';
	echo '<input type="text" value="'.$user_data['lastname'].'" name="lastname"/></div>';
				
	echo '<div><label for="email">E-mail Address:</label>';
	echo '<input type="email" value="'.$user_data['email'].'" name="email"/></div>';
	
	echo '</form>';
}
?>
    </table>
				
		
      </div>  
    <div class="clear">&nbsp;</div>
   </div>

