<div id="menu"> 
		<ul>     
			<li><a href="<?php echo $path ?>/index.php?controller=index">Main</a></li>
			<li><a href="<?php echo $path ?>/index.php?controller=books&flag=begin">Books</a></li>
			<li><a href="<?php echo $path ?>/index.php?controller=dvd&flag=begin">Movies</a></li>
			<?php
			 
				if( $loggedIn && !$admin )
				{
					echo '<li><a class="current" href="'.$path.'/index.php?controller=login&action=login">My Account</a></li>';
				}
				elseif( !$loggedIn)
				{
					echo '<li><a class="current" href="'.$path.'/index.php?controller=login">Login</a></li>';
				}
				
				if( $admin )
				{
					echo '<li><a class="current" href="'.$path.'/index.php?controller=admin">Admin</a></li>';
				}
				?>
		</ul>
	</div>
	
	<div id="feature">
		<div class="left">			
			<h2>Welcome To The Admin CMS Area!</h2>
			<!--p>In here you can manage users !</p-->
		</div>
			<div class="clear">&nbsp;</div>
	</div>
<div id="main">
   <div id="sidebar">
			<div class="sidebarbox">
               <h2>Admin Menu</h2>
				<ul class="sidemenu">
					<li><a href="<?php echo $path ?>/index.php?controller=admin&action=manage_users">Manage Users</a></li>
					<li><a href="<?php echo $path ?>/index.php?controller=admin&action=ptypes">Manage Product Types</a></li>
					<li><a href="<?php echo $path ?>/index.php?controller=admin&action=addproduct">Manage Products</a>
						<ul>
							<li><a href="<?php echo $path ?>/index.php?controller=admin&action=addproduct">Add Product</a></li>
							<li><a href="<?php echo $path ?>/index.php?controller=admin&action=viewProducts">Update or Remove</a></li>
						</ul></li>
					<li><a href="#">Manage Orders</a></li>	
					<li><a href="<?php echo $path ?>/index.php?controller=admin&action=viewLog">View Access Log</a></li>
					<li><a href="<?php echo $path ?>/index.php?controller=login&action=login&logout=logout">Logout</a></li>	
				</ul>
			</div>
	    </div> 		   
	<div id="content">
   <h4 class="admin-sign">Admin Menu>>Manage Product Types-></h4>
   <br /><br />
   
   <!--div class="wrapper" -->
   
	<form action="<?php echo $path ?>/index.php?controller=admin&action=PTypes" method="post" class="style-form">
		
		<div><label for="parent_ptype_id">Parent product type</label>
			<select name="parent_ptype_id" id="parent_ptype_id" size="1"> 
			  <option value="">None</option>
			<?php   
			   foreach ( $PTypes as $productType ) { ?>
				<option value="<?php echo $productType->ptype_id; ?>"><?php echo $productType->type_name; ?></option>	
			<?php } ?>	
			</select>
			</div>
		
		<div><label for="product_description">New product type</label>
			<input type="text" name="type_name" id="type_name" required="required" /></div>

		<div class="submit"><input type="submit" value="Add to database" /></div>
		</form>
   	
   
   <!--/div-->
   
   </div>
   <div class="clear">&nbsp;</div>
   </div>
